---
import Base from "@/layouts/Base.astro";
---

<Base title="My Social Links">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <h1>My Social Links Here</h1>
        <div class="my-10">
          <ul>
            <li class="my-5"><a href="https://github.com/hellotksan">github</a></li>
            <li class="my-5"><a href="https://github.com/hellotksan">github</a></li>
            <li class="my-5"><a href="https://github.com/hellotksan">github</a></li>
            <li class="my-5"><a href="https://github.com/hellotksan">github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Base>
